@import 'tailwindcss';
@import "tw-animate-css";
@import "./index.css";

@custom-variant dark (&:is(.dark *));

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

body {
    @apply m-0;
    font-family:
            "Geist",
            -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
            'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
            source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}